package templates

templ Home() {
@Layout() {
@Header()
@aboutMe()
}
}

templ Header() {
<header>
	<div>
		<nav>
			<a href="/">about</a>
			<a href="/">contact</a>
			<a href="/">articles</a>
		</nav>
		@themeSwitch()
	</div>
</header>
}

templ themeSwitch() {
<div class="theme-switch">
	<p onclick="onThemeToggle()">light</p>
</div>
}

templ aboutMe() {
<section class="about-me">
	<div>
		<h1>Hey, I'm Akshay</h1>
		<p>
			I’m a programmer who thrives on minimal, efficient workflows and the
			old-school tools that keep me close to the core of computing. Neovim, the
			command line, and Linux aren’t just my tools of choice—they’re part of how I
			think about building software: precise, lean, and purposeful.
			Right now I’m diving deep into Go and sharpening my craft through projects that
			challenge both design and discipline. I enjoy understanding technologies at
			their roots, avoiding shortcuts, and creating systems that feel simple on the
			surface but are solid under the hood.
			Outside of code, I’m a lifelong learner who draws inspiration from philosophy,
			anime, and stories that explore human strength and complexity. For me,
			programming isn’t just a job—it’s part of a broader journey of growth,
			curiosity, and building things that matter.
		</p>
	</div>
</section>
}

templ Layout() {
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,
		initial-scale=1.0" />
	<title>
		Akshay Krishna | Portfolio
	</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="/static/main.css" />
	<script>

		function onThemeToggle() {
			const body = document.body
			const currentTheme = body.getAttribute("data-theme")
			body.setAttribute("data-theme", currentTheme === "light" ?
				"dark" : "light")
		}

	</script>
</head>

<body data-theme="light">
	{ children... }
</body>

</html>
}
