:root {
	--bg-dark: hsl(0, 0%, 0%);
	--bg: hsl(0, 0%, 5%);
	--bg-light: hsl(0, 0%, 10%);
	--text: hsl(0, 0%, 95%);
	--text-muted: hsl(0, 0%, 70%);
}

body[data-theme="light"] {
	--bg-dark: hsl(0, 0%, 95%);
	--bg: hsl(0, 0%, 95%);
	--bg-light: hsl(0, 0%, 100%);
	--text: hsl(0, 0%, 5%);
	--text-muted: hsl(0, 0%, 30%);
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	color: var(--text)
}

html,
body {
	background-color: var(--bg-dark);
	height: 100vh;
	width: 100vw;
}


header {
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	align-items: center;
	padding: 3rem
}


header>div {
	width: 60%;
	display: flex;
	justify-content: space-between;
}

nav {
	display: flex;
	gap: 2rem;
}


nav>a {
	text-transform: capitalize;
}

.theme-switch {
	text-align: right;
	cursor: pointer;
	text-transform: capitalize;
}


.about-me {
	margin-top: 5rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.about-me>div {
	width: 60%;
	text-align: left;
}

.about-me>div>h1 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.about-me>div>p {
	font-size: 1rem;
	line-height: 3rem;
}
